@import './common-var.scss';

.mi-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  text-align: center;
  white-space: nowrap;
  line-height: 1;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-appearance: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  &.is-round {
    border-radius: 20px;
    padding: 10px 20px;
  }

  &.is-circle {
    border-radius: 50%;
    padding: 10px;
  }

  &.is-disabled,
  &.is-disabled:hover,
  &.is-disabled:focus {
    cursor: not-allowed;
    color: $-color-black-light;
    background-image: none;
    background-color: $-color-default-lighter;
    border-color: $-color-default-lighter;
  }

  &:hover {
    border-color: $-color-blue;
    background-color: $-color-blue-light-9;
    color: $-color-blue;
  }

  &:active {
    border-color: $-color-white-light;
    background-color: $-color-primary-light;
    color: $-color-white-light;
  }

  &+& {
    margin-left: 8px;
  }

  >.mi-button-loading {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 2px;
    border-radius: 8px;
    border-color: $-color-blue $-color-blue $-color-blue transparent;
    border-style: solid;
    border-width: 2px;
    animation: load-spin 1s infinite linear;
  }

  &.mi-button--medium .mi-button-loading {
    width: 10px;
    height: 10px;
  }

  &.mi-button--small .mi-button-loading {
    width: 8px;
    height: 8px;
  }

  &.mi-button--mini .mi-button-loading {
    width: 6px;
    height: 6px;
  }
}

@keyframes load-spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

.mi-button--default {
  border-color: #bebdbd;
  background-color: $-color-default;
  color: $-color-black;

  &:hover {
    border-color: $-color-blue;
    background-color: $-color-blue-light-9;
    color: $-color-blue;
  }

  &:active {
    border-color: $-color-white-light;
    background-color: $-color-primary-light;
    color: $-color-white-light;
  }

  &.is-disabled,
  &.is-disabled:hover,
  &.is-disabled:focus {
    cursor: not-allowed;
    color: $-color-black-light;
    background-image: none;
    background-color: $-color-default-lighter;
    border-color: $-color-default-lighter;
  }

}

.mi-button--primary {
  border-color: $-color-primary;
  background-color: $-color-primary;
  color: $-color-white;

  &:hover {
    background-color: $-color-primary-light;
    color: $-color-default-lighter;
  }

  &:active {
    border-color: $-color-white-light;
    background-color: $-color-primary;
    color: $-color-white-light;
  }

  &.is-disabled,
  &.is-disabled:hover,
  &.is-disabled:focus {
    cursor: not-allowed;
    color: $-color-white-light;
    background-image: none;
    background-color: $-color-primary-lighter;
    border-color: $-color-primary-lighter;
  }
}

.mi-button--success {
  border-color: $-color-success;
  background-color: $-color-success;
  color: $-color-white;

  &:hover {
    border-color: $-color-success;
    background-color: $-color-success-light;
    color: $-color-white;
  }

  &:active {
    border-color: $-color-white-light;
    background-color: $-color-success;
    color: $-color-white-light;
  }

  &.is-disabled,
  &.is-disabled:hover,
  &.is-disabled:focus {
    cursor: not-allowed;
    color: $-color-white-light;
    background-image: none;
    background-color: $-color-success-light;
    border-color: $-color-success-light;
  }
}

.mi-button--warning {
  border-color: $-color-warning;
  background-color: $-color-warning;
  color: $-color-white;

  &:hover {
    border-color: $-color-warning;
    background-color: $-color-warning-light;
    color: $-color-white;
  }

  &:active {
    border-color: $-color-white-light;
    background-color: $-color-warning;
    color: $-color-white-light;
  }

  &.is-disabled,
  &.is-disabled:hover,
  &.is-disabled:focus {
    cursor: not-allowed;
    color: $-color-white-light;
    background-image: none;
    background-color: $-color-warning-light;
    border-color: $-color-warning-light;
  }
}

.mi-button--danger {
  border-color: $-color-danger;
  background-color: $-color-danger;
  color: $-color-white;

  &:hover {
    border-color: $-color-danger;
    background-color: $-color-danger-light;
    color: $-color-white;
  }

  &:active {
    border-color: $-color-white-light;
    background-color: $-color-danger;
    color: $-color-white-light;
  }

  &.is-disabled,
  &.is-disabled:hover,
  &.is-disabled:focus {
    cursor: not-allowed;
    color: $-color-white-light;
    background-image: none;
    background-color: $-color-danger-light;
    border-color: $-color-danger-light;
  }
}

.mi-button--medium {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;

  &.is-round {
    padding: 9px 20px;
  }
}

.mi-button--small {
  padding: 9px 15px;
  font-size: 12px;
  border-radius: 3px;

  &.is-round {
    padding: 9px 15px;
  }


}

.mi-button--mini {
  padding: 7px 15px;
  font-size: 12px;
  border-radius: 3px;

  &.is-round {
    padding: 7px 15px;
  }
}