@import './common-var.scss';

.mi-collapse {
  border-top: 1px solid $-color-grey-light-3;
  border-bottom: 1px solid $-color-grey-light-3;

  .mi-collapse-item {
    overflow: hidden;

    &:last-child {
      margin-bottom: -1px;
    }
  }

  .mi-collapse_header {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    border-bottom: 1px solid $-color-grey-light-3;
    cursor: pointer;
    align-items: center;
    outline: none;
    transition: border-bottom-color 0.3s;

    &.is-active {
      border-bottom-color: transparent;
    }
  }

  .mi-collapse-item__wrap {
    background-color: #fff;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid $-color-grey-light-3;
  }

  .mi-collapse_content {
    padding-bottom: 25px;
    font-size: 13px;
    color: $-color-black-light;
    line-height: 1.7;
  }

  .mi-collapse__icon {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    transform-origin: center;
    transform: translateY(-50%);
    line-height: 0;
    font-size: 0;
    border: 5px solid transparent;
    border-left-color: $-color-grey-light-1;
    transition: transform 0.3s linear;

    &.is-active {
      transform: rotateZ(90deg);
    }
  }

  .mifade {
    transition: .3s height ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }
}