//color
$-color-white: #ffffff !default;
$-color-white-light: mix($-color-white, $-color-white, 50%) !default;

$-color-grey: #999999 !default;
$-color-grey-light-1: lighten($-color-grey, 10%);
$-color-grey-light-2: lighten($-color-grey, 20%);
$-color-grey-light-3: lighten($-color-grey, 30%);
$-color-grey-light-4: lighten($-color-grey, 40%);
$-color-grey-light-5: lighten($-color-grey, 50%);
$-color-grey-dark-1: darken($-color-grey, 10%);
$-color-grey-dark-2: darken($-color-grey, 20%);
$-color-grey-dark-3: darken($-color-grey, 30%);
$-color-grey-dark-4: darken($-color-grey, 40%);
$-color-grey-dark-5: darken($-color-grey, 50%);

$-color-black: #000000 !default;
$-color-black-light: mix($-color-white, $-color-black, 50%) !default;

$-color-blue: #3ea4e7 !default;
$-color-blue-light-1: mix($-color-white, $-color-blue, 10%) !default;
$-color-blue-light-2: mix($-color-white, $-color-blue, 20%) !default;
$-color-blue-light-3: mix($-color-white, $-color-blue, 30%) !default;
$-color-blue-light-4: mix($-color-white, $-color-blue, 40%) !default;
$-color-blue-light-5: mix($-color-white, $-color-blue, 50%) !default;
$-color-blue-light-6: mix($-color-white, $-color-blue, 60%) !default;
$-color-blue-light-7: mix($-color-white, $-color-blue, 70%) !default;
$-color-blue-light-8: mix($-color-white, $-color-blue, 80%) !default;
$-color-blue-light-9: mix($-color-white, $-color-blue, 90%) !default;

$-color-default: #eeeeee !default;
$-color-default-lighter: mix($-color-white, $-color-default, 20%) !default;

$-color-primary: #3ea4e7 !default;
$-color-primary-light:#7abeec !default;
$-color-primary-lighter: mix($-color-white, $-color-primary, 20%) !default;
$-color-primary-lighter-5: mix($-color-white, $-color-primary, 50%) !default;
$-color-primary-lighter-9: mix($-color-white, $-color-primary, 90%) !default;

$-color-success: #48ca48 !default;
$-color-success-light:mix($-color-white, $-color-success, 20%) !default;
$-color-success-lighter: mix($-color-white, $-color-success, 40%) !default;
$-color-success-lighter-6: mix($-color-white, $-color-success, 60%) !default;
$-color-success-lighter-7: mix($-color-white, $-color-success, 70%) !default;
$-color-success-lighter-8: mix($-color-white, $-color-success, 80%) !default;
$-color-success-lighter-9: mix($-color-white, $-color-success, 90%) !default;
// e7b616
$-color-warning: #e6a23c !default;
$-color-warning-light: mix($-color-white, $-color-warning, 20%) !default;
$-color-warning-lighter: mix($-color-white, $-color-warning, 40%) !default;
$-color-warning-lighter-6: mix($-color-white, $-color-warning, 60%) !default;
$-color-warning-lighter-7: mix($-color-white, $-color-warning, 70%) !default;
$-color-warning-lighter-8: mix($-color-white, $-color-warning, 80%) !default;

$-color-danger: #f15e5e !default;
$-color-danger-light: mix($-color-white, $-color-danger, 20%) !default;
$-color-danger-lighter: mix($-color-white, $-color-danger, 40%) !default;
$-color-danger-lighter-6: mix($-color-white, $-color-danger, 60%) !default;
$-color-danger-lighter-7: mix($-color-white, $-color-danger, 70%) !default;
$-color-danger-lighter-8: mix($-color-white, $-color-danger, 80%) !default;

// background
$-color-background: #c6c6c6;

//Card
$-color-card-board: #ebeef5;

// Rate
$-color-rate-low: #f5b326;
$-color-rate-lighter: mix($-color-white, $-color-rate-low, 30%) !default;
$--rate-icon-size: 18px !default;
$--rate-icon-margin: 6px !default;
$--rate-height: 20px !default;

//message
$--message-font-color: $-color-black-light !default;

$--message-success-font-color: $-color-success !default;

$--message-warning-font-color: $-color-warning !default;

$--message-error-font-color: $-color-danger !default;

$--message-close-icon-color:$-color-grey-light-2 !default;
$--message-close-size:16px !default;
$--message-close-hover-color: $-color-grey !default;